body {
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  color: #484d89;
}

.p-progress-spinner {
  width: 10vh !important;
  height: 10vh !important;
}

.p-progress-spinner-circle {
  stroke: #ffffff !important;
}